# WordPress core files
# Bạn không cần theo dõi core files trừ khi bạn tùy chỉnh chúng
/wp-admin/
/wp-includes/
#plugins
/wp-content/plugins/advanced-custom-fields/
/wp-content/plugins/contact-form-7/
/wp-content/plugins/loco-translate/
/wp-content/plugins/polylang/
/wp-content/plugins/update-urls/
/wp-content/plugins/wps-hide-login/
/wp-content/plugins/wp-mail-smtp/
/wp-content/plugins/mailin/
/wp-content/plugins/litespeed-cache/
/wp-content/plugins/seo-by-rank-math/

# Config file
wp-config.php
/wp-content/languages/
# User-uploaded files and media
/wp-content/uploads/
/wp-content/upgrade/
# Cache directories
/wp-content/cache/

# Third-party plugins and themes (nếu bạn không phát triển)
/wp-content/themes/
# Nếu bạn phát triển theme của mình, loại trừ tất cả trừ thư mục theme của bạn
!/wp-content/themes/hotel-theme/
!/wp-content/themes/main-hotel/
# Development files
.vscode/
node_modules/
.env